
body {
    background-color: #0b6fd3; /*Fondo*/
}

.navbar-custom {
    background-color: #dfc861; /*barra de navegación */
}

.btn-primary {
    background-color: #007bff; /*azul personalizado */
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545; /* Color rojo personalizado */
    border-color: #dc3545;
}
